<?xml version="1.0"?>
<configuration>
    <system.web>
      <httpRuntime requestValidationMode="2.0" />
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  <location path="Admin.aspx">
    <system.web>
      <authorization>
        <allow roles="Aministrators" />
      </authorization>
    </system.web>
  </location>
  <location path="SubmitEntry.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
</configuration>
