<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="contestsEntities" connectionString="metadata=res://*/DataAccess.Contest.csdl|res://*/DataAccess.Contest.ssdl|res://*/DataAccess.Contest.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=contests;password=password;Persist Security Info=True;database=contests&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>